{% extends "layout/admin.html" %}
{% block page_title %}Usuarios{% endblock %}
{% block title %}Usuarios{% endblock %}
{% block content %}
<table class="table table-bordered table-striped">
    <thead>
        <th>Username</th>
        <th>E-mail</th>
        <th>Super Usuario</th>
        <th>Activo</th>
    </thead>
    <tbody>
        {% for obj in objs %}
        <tr>
            <td><a href="{% url 'usuarios_editar' obj.pk %}"><i class="fa fa-edit"></i> Editar</a>
        | <a href="{% url 'usuarios_password' obj.pk %}"><i class="fa fa-pencil"></i> Cambiar contraseña</a>
        </p></td>
            <td>{{obj.email}}</td>
            <td>
            {% if obj.is_superuser %}
            <i class="fa fa-check text-success"></i>
            {% else %}
            <i class="fa fa-remove text-danger"></i>
            {% endif %}
            </td>
            <td>
            {% if obj.is_active %}
            <i class="fa fa-check text-success" title="Activo"></i>
            {% else %}
            <i class="fa fa-remove text-danger" title="Suspendido"></i>
            {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}